
<!-- 導覽區域開始 -->
<header class="header_area">
	<div class="header_top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-4 col-xl-3">
					<div class="text-left header_top_left d-none d-sm-block">
						<p>Welcome to <b>BAPOR ~ You will love it.</b></p>
					</div>
				</div>
				<div class="col-12 col-md-8 col-xl-9">
					<div class="header_top_right">
						<!--登入之前 -->
						<a href="#"><i class="fa fa-user-plus"></i>註冊加入</a>
						<a href="#"><i class="fa fa-hand-pointer"></i>會員登入</a>
						<!--登入之後 -->
						<!-- <a href="#"><i class="fa fa-shopping-basket"></i>購物車</a> -->
						<!-- <a href="#"><i class="fa fa-user"></i>我的帳戶</a> -->
						<!-- <a href="#"><i class="fa fa-heart"></i>願望清單</a> -->
						<!-- <a href="#"><i class="fa fa-share-square"></i>會員登出</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header_main">
		<nav class="navbar navbar-expand-lg navbar-light">
		  <a class="navbar-brand" href="#">
		  	<%= image_tag "bapor_logo" %>
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav ml-auto rwd_ul_bg">
		      <li class="nav-item">
		        <a class="nav-link nav_link_page" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link nav_link_page" href="#">Men</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link nav_link_page" href="#">Women</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link nav_link_page" href="#">Kids</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link nav_link_page" href="#">Footwear</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link nav_link_page" href="#">Blog</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link nav_link_page" href="#">Contact</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</div>
</header>
<!-- 導覽區域結束 -->

<!-- 輪播區域開始 -->
<div id="carouselExampleIndicators" class="carousel slide d-none d-sm-block" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    	<%= image_tag "slider_bg1", class: "d-block w-100", alt: "First slide" %>
      <div class="text-right carousel_caption">
		    <h1>50-80% Off</h1>
		    <h3>All Sale Prices Revealed</h3>
		    <a href="#" class="title_btn1">See More</a>
		  </div>
    </div>
    <div class="carousel-item">
    	<%= image_tag "slider_bg2", class: "d-block w-100", alt: "Second slide" %>
      <div class="text-left carousel_caption">
		    <h1>Big Sale 30% Off</h1>
		    <h3>Prepare Your cart Now!</h3>
		    <a href="#" class="title_btn2">Shop Now</a>
		  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- 輪播區域結束 -->

<!-- 商品旗幟開始 -->
<section class="categorybanner">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4 categorybanner_item">
				<div class="categorybanner_image">
					<%= image_tag "banner1", class: "img-fluid", alt: "banner1" %>
				</div>
				<div class="categorybanner_title">
					<h5>Women's Formal Wear</h5>
					<h3>20-50% Off</h3>
				</div>
			</div>
			<div class="col-md-4 categorybanner_item">
				<div class="categorybanner_image">
					<%= image_tag "banner2", class: "img-fluid", alt: "banner2" %>
				</div>
				<div class="categorybanner_title">
					<h5>Men's Formal Wear</h5>
					<h3>50-80% Off</h3>
				</div>
			</div>
			<div class="col-md-4 categorybanner_item">
				<div class="categorybanner_image">
					<%= image_tag "banner3", class: "img-fluid", alt: "banner3" %>
				</div>
				<div class="text-left categorybanner_title dark_title">
					<h5>Kid's</h5>
					<h3>Up To 80% Off</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 商品旗幟結束 -->

<!-- 促銷區域開始 -->
<section id="promo" class="promo section_padding">
	<div class="container">
		<div class="row promo_box">
			<div class="col-12 col-md-4 col-xl-4 promo_item mb_sm_30">
				<div class="promo_item_inner">
					<div class="promo_icon">
						<i class="far fa-money-bill-alt" aria-hidden="true"></i>
					</div>
					<div class="promo_info">
						<h6>Money Back</h6>
						<p>30 Days Guarantee</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 col-xl-4 promo_item mb_sm_30">
				<div class="promo_item_inner">
					<div class="promo_icon">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<div class="promo_info">
						<h6>Free Shipping</h6>
						<p>Secure &amp; Fast Shipping</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 col-xl-4 promo_item">
				<div class="promo_item_inner">
					<div class="promo_icon">
						<i class="fa fa-question" aria-hidden="true"></i>
					</div>
					<div class="promo_info">
						<h6>24 X 7 Support</h6>
						<p>Quick Support Service</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 促銷區域結束 -->

<!-- 促銷旗幟區域開始 -->
<section id="promo_banner" class="promo_banner section_padding_bottom">
	<div class="container">
		<div class="text-center section_heading">
			<h2>Shop By Category</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb_30">
				<div class="promo_banner_wraper">
					<a href="#"><%= image_tag "cat_1", class: "img-fluid" %></a>
				</div>
			</div>
			<div class="col-md-6 mb_30">
				<div class="promo_banner_wraper">
					<a href="#"><%= image_tag "cat_2", class: "img-fluid" %></a>
				</div>
			</div>
			<div class="col-md-12">
				<div class="promo_banner_wraper">
					<a href="#"><%= image_tag "cat_3", class: "img-fluid" %></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 促銷旗幟區域結束 -->

<!-- 節日、季節促銷區域開始 -->
<section id="festival_seasons" class="festival_seasons section_padding_bottom ">
	<div class="container">
		<div class="festival_seasons_inner">
			<h3 class="text-center">
				Up to 50% Off Get Ready Early Access &
				<a  href="#">Shop Now</a>
			</h3>
		</div>
	</div>
</section>
<!-- 節日、季節促銷區域結束 -->

<!-- 特色商品區域開始 -->
<section id="featured_collecations" class="featured_collecations section_padding_bottom ">
	<div class="container">
		<div class="text-center section_heading">
			<h2>Featured Collections</h2>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
			</p>
		</div>
		<ul class="nav justify-content-center product_category">
		  <li class="nav-item">
		    <a class="nav-link action" href="#">Footwear</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Men</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Women</a>
		  </li>
		</ul>
		<div class="row">
			<div class="col-6 col-md-3 col-xl-3">
				<div class="product_item">
					<div class="product_item_wraper">
						<div class="product_image_wraper">
							<img src="http://magicclubgroup.com/bapor/img/product/big/07.jpg" class="img-fluid">
						</div>
					</div>
					<div class="text-center product_item_detail">
						<p>Printed Round White T-shirt</p>
						<h6><del>$1000</del>$799</h6>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 col-xl-3">
				<div class="product_item">
					<div class="product_item_wraper">
						<div class="product_image_wraper">
							<img src="http://magicclubgroup.com/bapor/img/product/big/01.jpg" class="img-fluid">
						</div>
					</div>
					<div class="text-center product_item_detail">
						<p>Printed Round White T-shirt</p>
						<h6><del>$1000</del>$799</h6>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 col-xl-3 d-none d-sm-block">
				<div class="product_item">
					<div class="product_item_wraper">
						<div class="product_image_wraper">
							<img src="http://magicclubgroup.com/bapor/img/product/big/02.jpg" class="img-fluid">
						</div>
					</div>
					<div class="text-center product_item_detail">
						<p>Printed Round White T-shirt</p>
						<h6><del>$1000</del>$799</h6>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 col-xl-3 d-none d-sm-block">
				<div class="product_item">
					<div class="product_item_wraper">
						<div class="product_image_wraper">
							<img src="http://magicclubgroup.com/bapor/img/product/big/03.jpg" class="img-fluid">
						</div>
					</div>
					<div class="product_item_detail text-center">
						<p class="product_title">
							Printed Round White T-shirt
						</p>
						<h6 class="product_price">
							<del>$1000</del>$799
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 特色商品區域結束 -->

<!-- 關於網站開始 -->
<section id="homeabout" class="homeabout section_padding">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 col-xl-7">
				<div class="text-center homeabout_wrapper">
					<div class="homeabout_image">
						<%= image_tag "bapor_logo" %>
					</div>
					<h6>We design for the future- in ways that make sens right now.</h6>
					<p>
						<span>Many desktop publishing packages</span>
						and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
					</p>
					<a class="title_btn2" href="#">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 關於網站結束 -->

<!-- 網站文章區域開始 -->
<section id="homepost" class="homepost section_padding">
	<div class="container">
		<div class="text-center section_heading">
			<h2>Seven Reliable Sources of Fashion</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		</div>
		<div class="row homepost_wraper ">
			<div class="col-6 col-md-4 col-xl-4">
				<div class="card card_homepost">
					<div class="homepost_image">
						<img class="card-img-top" src="http://magicclubgroup.com/bapor/img/blog/blog_01.jpg" alt="Card image cap">
					</div>
				  <div class="card-body">
				    <h5 class="card-title">Seven Reliable Sources of Fashion</h5>
				    <p class="card-text">Redug Lagre dolor sit amet, consectetur adipisicing elit. Minima in nostrum, veniam. Esse est assumenda inventore.</p>
				    <p class="post_more">
				    	<a href="#">Read More...</a>
				    </p>
				  </div>
				  <div class="card-footer rwd_footer_size">
			      <span class="post_author">
			      	<i class="fa fa-user"></i>By
			      	<b>Admin</b>
			      </span>
			      <span class="post_comment">
			      	<i class="far fa-comments"></i>
			      	<b>10 Comments</b>
			      </span>
			    </div>
				</div>
			</div>
			<div class="col-6 col-md-4 col-xl-4">
				<div class="card card_homepost">
				  <div class="homepost_image">
						<img class="card-img-top" src="http://magicclubgroup.com/bapor/img/blog/blog_02.jpg" alt="Card image cap">
					</div>
				  <div class="card-body">
				    <h5 class="card-title">Why You Must Experience Fashion</h5>
				    <p class="card-text">Redug Lagre dolor sit amet, consectetur adipisicing elit. Minima in nostrum, veniam. Esse est assumenda inventore.</p>
				    <p class="post_more">
				    	<a href="#">Read More...</a>
				    </p>
				  </div>
				  <div class="card-footer rwd_footer_size">
			      <span class="post_author">
			      	<i class="fa fa-user"></i>By
			      	<b>Admin</b>
			      </span>
			      <span class="post_comment">
			      	<i class="far fa-comments"></i>
			      	<b>10 Comments</b>
			      </span>
			    </div>
				</div>
			</div>
			<div class="col-6 col-md-4 col-xl-4 d-none d-sm-block">
				<div class="card card_homepost">
				  <div class="homepost_image">
						<img class="card-img-top" src="http://magicclubgroup.com/bapor/img/blog/blog_03.jpg" alt="Card image cap">
					</div>
				  <div class="card-body">
				    <h5 class="card-title">Ten Ways To Introduce Fashion</h5>
				    <p class="card-text">Redug Lagre dolor sit amet, consectetur adipisicing elit. Minima in nostrum, veniam. Esse est assumenda inventore.</p>
				    <p class="post_more">
				    	<a href="#">Read More...</a>
				    </p>
				  </div>
				  <div class="card-footer rwd_footer_size">
			      <span class="post_author">
			      	<i class="fa fa-user"></i>By
			      	<b>Admin</b>
			      </span>
			      <span class="post_comment">
			      	<i class="far fa-comments"></i>
			      	<b>10 Comments</b>
			      </span>
			    </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 網站文章區域結束 -->

<!-- 網站logo開始 -->
<section id="homelogo" class="homelogo section_padding">
	<div class="container">
		<div class="text-center section_heading">
			<h2>Our Partner</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		</div>
		<div class="d-flex justify-content-around">
			<div class="logo_item">
				<%= image_tag "partner1", class: "img-fluid" %>
			</div>
			<div class="logo_item">
				<%= image_tag "partner2", class: "img-fluid" %>
			</div>
			<div class="logo_item d-none d-sm-block">
				<%= image_tag "partner3", class: "img-fluid" %>
			</div>
			<div class="logo_item d-none d-sm-block">
				<%= image_tag "partner4", class: "img-fluid" %>
			</div>
			<div class="logo_item d-none d-sm-block">
				<%= image_tag "partner5", class: "img-fluid" %>
			</div>
		</div>
	</div>
</section>
<!-- 網站logo結束 -->

<!-- 頁腳區域開始 -->
<footer id="footer" class="footer">
	<div class="footer_top">
		<div class="footer_middle">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 col-lg-4 mb_sm_30">
						<div class="footer_block">
							<h6>What We Are?</h6>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-2 mb-sm-40 d-none d-sm-block">
						<div class="footer_block">
							<h6>Information</h6>
							<ul class="list-none">
								<li><a href="#">Men</a></li>
								<li><a href="#">Women</a></li>
								<li><a href="#">Kids</a></li>
								<li><a href="#">Accessories</a></li>
								<li><a href="#">Brand</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-2 mb_sm_30">
						<div class="footer_block">
							<h6>Usefull Links</h6>
							<ul class="list-none">
	              <li><a href="about.html">About Us</a></li>
	              <li><a href="#">Customer Service</a></li>
	              <li><a href="#">Privacy Policy</a></li>
	              <li><a href="#">Orders and Returns</a></li>
	              <li><a href="#">Help &amp; FAQs</a></li>
	              <li><a href="contact.html">Conatct Us</a></li>
	            </ul>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-4 mb_sm_30">
						<div class="footer_block contactus_block">
							<h6>Conatct Us</h6>
							<p><i class="fa fa-map-marker" aria-hidden="true"></i>
                 Gelderseplein 750, 601 WZ Rotterdam,<br>
                 Netherlands              
              </p>
              <p>
              	<i class="fa fa-envelope" aria-hidden="true"></i>
              	<a href="mailto:vitata710@gmail.com">vitata710@gmail.com</a>
              </p>
              <p><i class="fa fa-phone" aria-hidden="true"></i>+0123-456-789</p>
              <p><i class="fa fa-fax" aria-hidden="true"></i>+0123-456-789</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 col-xl-6">
					<p class="copyright">
						© Copyrights <a href="#" class="color" target="_blank">Bapor</a>. All Rights Reserved.
					</p>
				</div>
				<div class="col-12 col-md-6 col-xl-6">
					<div class="social_link">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-github-alt"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- 頁腳區域結束 -->
