<!-- 導覽區域開始 -->
<%= render "shared/head_nav" %>
<!-- 導覽區域結束 -->

<!-- 輪播區域開始 -->
<div id="carouselExampleIndicators" class="carousel slide d-none d-sm-block" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    	<%= image_tag "slider_bg1", class: "d-block w-100", alt: "First slide" %>
      <div class="text-right carousel_caption">
		    <h1>50-80% Off</h1>
		    <h3>All Sale Prices Revealed</h3>
		    <a href="#" class="title_btn1">See More</a>
		  </div>
    </div>
    <div class="carousel-item">
    	<%= image_tag "slider_bg2", class: "d-block w-100", alt: "Second slide" %>
      <div class="text-left carousel_caption">
		    <h1>Big Sale 30% Off</h1>
		    <h3>Prepare Your cart Now!</h3>
		    <a href="#" class="title_btn2">Shop Now</a>
		  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- 輪播區域結束 -->

<!-- 商品旗幟開始 -->
<section class="categorybanner">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4 categorybanner_item">
				<div class="categorybanner_image">
					<%= image_tag "banner1", class: "img-fluid", alt: "banner1" %>
				</div>
				<div class="categorybanner_title">
					<h5>Women's Formal Wear</h5>
					<h3>20-50% Off</h3>
				</div>
			</div>
			<div class="col-md-4 categorybanner_item">
				<div class="categorybanner_image">
					<%= image_tag "banner2", class: "img-fluid", alt: "banner2" %>
				</div>
				<div class="categorybanner_title">
					<h5>Men's Formal Wear</h5>
					<h3>50-80% Off</h3>
				</div>
			</div>
			<div class="col-md-4 categorybanner_item">
				<div class="categorybanner_image">
					<%= image_tag "banner3", class: "img-fluid", alt: "banner3" %>
				</div>
				<div class="text-left categorybanner_title dark_title">
					<h5>Kid's</h5>
					<h3>Up To 80% Off</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 商品旗幟結束 -->

<!-- 促銷區域開始 -->
<section id="promo" class="promo section_padding">
	<div class="container">
		<div class="row promo_box">
			<div class="col-12 col-md-4 col-xl-4 promo_item mb_sm_30">
				<div class="promo_item_inner">
					<div class="promo_icon">
						<i class="far fa-money-bill-alt" aria-hidden="true"></i>
					</div>
					<div class="promo_info">
						<h6>Money Back</h6>
						<p>30 Days Guarantee</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 col-xl-4 promo_item mb_sm_30">
				<div class="promo_item_inner">
					<div class="promo_icon">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<div class="promo_info">
						<h6>Free Shipping</h6>
						<p>Secure &amp; Fast Shipping</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 col-xl-4 promo_item">
				<div class="promo_item_inner">
					<div class="promo_icon">
						<i class="fa fa-question" aria-hidden="true"></i>
					</div>
					<div class="promo_info">
						<h6>24 X 7 Support</h6>
						<p>Quick Support Service</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 促銷區域結束 -->

<!-- 促銷旗幟區域開始 -->
<section id="promo_banner" class="promo_banner section_padding_bottom">
	<div class="container">
		<div class="text-center section_heading">
			<h2>Shop By Category</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb_30">
				<div class="promo_banner_wraper">
					<a href="#"><%= image_tag "cat_1", class: "img-fluid" %></a>
				</div>
			</div>
			<div class="col-md-6 mb_30">
				<div class="promo_banner_wraper">
					<a href="#"><%= image_tag "cat_2", class: "img-fluid" %></a>
				</div>
			</div>
			<div class="col-md-12">
				<div class="promo_banner_wraper">
					<a href="#"><%= image_tag "cat_3", class: "img-fluid" %></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 促銷旗幟區域結束 -->

<!-- 節日、季節促銷區域開始 -->
<section id="festival_seasons" class="festival_seasons section_padding_bottom ">
	<div class="container">
		<div class="festival_seasons_inner">
			<h3 class="text-center">
				Up to 50% Off Get Ready Early Access &
				<a  href="#">Shop Now</a>
			</h3>
		</div>
	</div>
</section>
<!-- 節日、季節促銷區域結束 -->

<!-- 特色商品區域開始 -->
<section id="featured_collecations" class="featured_collecations spb_60 ">
	<div class="container">
		<div class="text-center section_heading">
			<h2>Featured Collections</h2>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
			</p>
		</div>
		<!-- <ul class="nav justify-content-center product_category">
		  <li class="nav-item">
		    <a class="nav-link action" href="#">Footwear</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Men</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Women</a>
		  </li>
		</ul> -->
		<div class="row">
			<% @products.each do |product| %>
				<div class="col-6 col-md-3 col-xl-3">
					<%= render partial: "shared/product_list", locals: {product: product} %>
				</div>
			<% end %>
		</div>
	</div>
</section>
<!-- 特色商品區域結束 -->

<!-- 關於網站開始 -->
<section id="homeabout" class="homeabout section_padding">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 col-xl-7">
				<div class="text-center homeabout_wrapper">
					<div class="homeabout_image">
						<%= image_tag "bapor_logo" %>
					</div>
					<h6>We design for the future- in ways that make sens right now.</h6>
					<p>
						<span>Many desktop publishing packages</span>
						and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
					</p>
					<a class="title_btn2" href="#">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 關於網站結束 -->

<!-- 網站文章區域開始 -->
<section id="homepost" class="homepost section_padding">
	<div class="container">
		<div class="text-center section_heading">
			<h2>Seven Reliable Sources of Fashion</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		</div>
		<div class="row homepost_wraper ">
			<%= render partial: "posts/post_list", locals: {post: @post} %>
		</div>
	</div>
</section>
<!-- 網站文章區域結束 -->

<!-- 網站logo開始 -->
<section id="homelogo" class="homelogo section_padding">
	<div class="container">
		<div class="text-center section_heading">
			<h2>Our Partner</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		</div>
		<div class="d-flex justify-content-around">
			<div class="logo_item">
				<%= image_tag "partner1", class: "img-fluid" %>
			</div>
			<div class="logo_item">
				<%= image_tag "partner2", class: "img-fluid" %>
			</div>
			<div class="logo_item d-none d-sm-block">
				<%= image_tag "partner3", class: "img-fluid" %>
			</div>
			<div class="logo_item d-none d-sm-block">
				<%= image_tag "partner4", class: "img-fluid" %>
			</div>
			<div class="logo_item d-none d-sm-block">
				<%= image_tag "partner5", class: "img-fluid" %>
			</div>
		</div>
	</div>
</section>
<!-- 網站logo結束 -->

<!-- 頁腳區域開始 -->
<%= render "shared/footer" %>
<!-- 頁腳區域結束 -->